<h2>Autores</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author|%>
    <tr>
      <th scope="row"><%=author.id%></th>
      <td><%=author.nombre%></td>
    </tr>
   <%end%> 
  </tbody>
</table>