<h2>Libros</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">titulo</th>
      <th scope="col">Nombre Autor</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book|%>
    <tr>
      <th scope="row"><%=book.id%></th>
      <td><%=book.titulo%></td>
      <td><%=book.author.nombre%></td>
    </tr>
   <%end%> 
  </tbody>
</table>