<%= form_with model: @book, local: true do |form| %>
  <p>
    <%= form.label :titulo %><br>
    <%= form.text_field :titulo %>
  </p>
    <p>
    <%= form.label :photo %><br>
    <%= form.file_field :photo %>
  </p>
  <p>
    <%= form.label :author_id %><br>
    <%= form.text_field :author_id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<%end%>