<h2>Libro <%=@book.id%></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">titulo</th>
      <th scope="col">Nombre Autor</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%=@book.id%></th>
      <td><%=@book.titulo%></td>
      <td><%=@book.author.nombre%></td>
      <td><%= image_tag @book.photo.variant(resize_to_limit: [100, 100]) %></td>
    </tr>
  </tbody>
</table>